:root {
  --netflix-red: rgb(229, 9, 20);
}

.signup-form-container {
  padding: 0 2rem;
  width: 100%;
}

.signup-form-heading {
  font-size: 1.25rem;
  font-weight: 400;

  line-height: 1.5;

  text-align: center;

  text-wrap: wrap;
}

.signup-form-main {
  margin: 1rem auto 0;
  display: flex;

  max-width: 36.625rem;
}

.signup-input-block {
  position: relative;

  width: 100%;
  color: white;

  flex: 1 1 auto;
}

.signup-label {
  position: absolute;
  left: 1rem;
  right: 1rem;
  font-weight: 400;
  line-height: 1.5;

  cursor: text;
  color: rgba(255, 255, 255, 0.7);

  transition-property: top, font-size;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.signup-label.focused {
  top: 0.5rem;
  font-size: 0.75rem;
}

.signup-label.unfocused {
  top: 1rem;
  font-size: 1rem;
}

.signup-input-container {
  width: 100%;

  display: flex;
}

.signup-input {
  background-color: transparent;
  border: none;
  width: 100%;

  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem 1rem 0.5rem;

  color: inherit;
}

.signup-input-btn {
  background: rgb(229, 9, 20);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;

  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;

  color: white;
}

.signup-form-main[data-issplitform="false"] .signup-input-btn {
  flex: 0 0 auto;
  margin-left: 0.5rem;
}

.signup-form-main[data-issplitform="true"] .signup-input-btn {
  margin-top: 1rem;
}

.signup-input-container {
  height: 100%;

  background: rgba(72, 116, 116, 0.3);

  border-radius: 0.2rem;
}

.svg-right-arrow-wrapper {
  height: 100%;
  display: inline-block;
}

.svg-right-arrow-wrapper > svg {
  position: relative;
  top: 0.25rem;
  display: inline-block;
  width: 1.5rem;
  margin-left: 0.75rem;
}

.signup-input-btn:hover {
  background: hsl(from var(--netflix-red) h s 45);
  cursor: pointer;
}
